body, 
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#__next {
  min-height: calc(100vh - 5rem);
}

#__next::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: black;
}

